@model CheckOutModel
@{
    ViewData["Title"] = "Check Out";
}
@{
    <div class="text-center">
            <h1 class="display-4">Check Out</h1>
            <h2 class="display-4">@Model.StatusMessage</h2>
    </div>
    
}
