@{
    ViewData["Title"] = "Home Page";
}
<!-- Header -->
<header class="w3-panel shadow w3-opacity" style="padding:128px 16px">
    <h1 class="w3-xlarge" style="text-align:center">Welcome!</h1>
    <h1 class="text-capitalize" style="text-align:center">Praise the sun.</h1>
    <h1 class="text-capitalize" style="text-align:center">Happy shopping!</h1>
</header> 

