@{
    ViewData["Title"] = "Home Page";
}
<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
    <h1 class="w3-xlarge">Welcome!</h1>
    <h1 class="text-lowercase">Praise the sun!</h1>
</header> 

