@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We value your privacy. Corey's Knick Knacks will never share your sensitive information. Praise the sun, happy shopping. (:</p>
